In [15]:
import pandas as pd
from pandas import DataFrame as df
from pandas import Series
import numpy as np

In [16]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [68]:
d1 = df([0, 0, 1, 0, 3, 0, 2, 0, 1, 1], index=np.arange(10), columns=['repare_1'])
d2 = df([1, 0, 1, 0, 2, 0, 0, 0, 1, 1], index=np.arange(10), columns=['repare_2'])
d1 = d1.replace(0, np.nan)
d2 = d2.replace(0, np.nan)


d1.repare_1.fillna(d2.repare_2)

0     1
1   NaN
2     1
3   NaN
4     3
5   NaN
6     2
7   NaN
8     1
9     1
Name: repare_1, dtype: float64

In [18]:
d1

   repare_1
0       NaN
1       NaN
2         1
3       NaN
4         3
5       NaN
6         2
7       NaN
8         1
9         1

In [19]:
d2

   repare_2
0         1
1       NaN
2         1
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8         1
9         1